# Part 3: Challenges and Explorations

#### From iris.json: Calculate the mean, median, and standard deviation for each numerical column.

#### From titanic.xlsx: Find the minimum, maximum, and sum of passenger ages.

#### From movie.csv: Identify the director with the highest total director_facebook_likes. Find the 5 longest movies and their respective directors.

#### From Flights parquet file: Check for missing values in the dataset. Fill missing values in a numerical column with the columnâ€™s mean.

In [6]:
import pandas as pd

# Loading
df = pd.read_json('data/iris.json')

# Calculating
stats = df[['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth']].agg(['mean', 'median', 'std']).transpose()

# Showing the result
stats

                 mean  median       std
sepalLength  5.843333    5.80  0.828066
sepalWidth   3.057333    3.00  0.435866
petalLength  3.758000    4.35  1.765298
petalWidth   1.199333    1.30  0.762238

In [10]:
import pandas as pd

# Load the Excel file into a Pandas DataFrame
df = pd.read_excel('data/titanic.xlsx')

# Calculate the minimum, maximum, and sum of the passenger ages
age_stats = df['Age'].agg(['min', 'max', 'mean', 'sum'])

# Print the results
print(age_stats)

min         0.420000
max        80.000000
mean       29.699118
sum     21205.170000
Name: Age, dtype: float64

In [17]:
import pandas as pd

# Load the CSV file into a Pandas DataFrame
df = pd.read_csv('data/movie.csv')

# The director with the highest total director_facebook_likes
director_likes = df.groupby('director_name')['director_facebook_likes'].sum()
top_director = director_likes.idxmax()
top_director_likes = director_likes.max()

# The 5 longest movies and their respective directors
longest_movies = df[['movie_title', 'director_name', 'duration']].sort_values(by='duration', ascending=False).head(5)

# Print results
print(f"Director with the highest total Facebook likes: {top_director} ({top_director_likes} likes)")
print("\nTop 5 longest movies and their directors:")
print(longest_movies)

Director with the highest total Facebook likes: Steven Spielberg (364000.0 likes)

Top 5 longest movies and their directors:
                   movie_title        director_name  duration
1694                   Trapped                  NaN     511.0
2436                    Carlos                  NaN     334.0
1487       Blood In, Blood Out      Taylor Hackford     330.0
1134             Heaven's Gate       Michael Cimino     325.0
3254  The Legend of Suriyothai  Chatrichalerm Yukol     300.0

In [18]:
#  From Flights parquet file: I had a problem with this question