# Merging and Joining

1. Inner Join on Chinook Database

- Load the chinook.db database.
- Perform an inner join between the customers and invoices tables on the CustomerId column.
- Find the total number of invoices for each customer.

In [17]:
import sqlite3
import pandas as pd

# Loading the chinook.db database
with sqlite3.connect('data/data/chinook.db') as f:
    df_customer = pd.read_sql('select * from customers', con=f)
    df_invoices = pd.read_sql('select * from invoices', con=f)

# Joining between the customers and invoices tables on the CustomerId column.
result = pd.merge(df_customer, df_invoices, on='CustomerId', how='inner')

# Counting the total number of invoices for each customer
invoice_counts = result.groupby('CustomerId')['InvoiceId'].count().reset_index(name='InvoiceCount')

# Final step: displaying the DataFrame
display(invoice_counts)

    CustomerId  InvoiceCount
0            1             7
1            2             7
2            3             7
3            4             7
4            5             7
5            6             7
6            7             7
7            8             7
8            9             7
9           10             7
10          11             7
11          12             7
12          13             7
13          14             7
14          15             7
15          16             7
16          17             7
17          18             7
18          19             7
19          20             7
20          21             7
21          22             7
22          23             7
23          24             7
24          25             7
25          26             7
26          27             7
27          28             7
28          29             7
29          30             7
30          31             7
31          32             7
32          33             7
33          34             7
34          35             7
35          36             7
36          37             7
37          38             7
38          39             7
39          40             7
40          41             7
41          42             7
42          43             7
43          44             7
44          45             7
45          46             7
46          47             7
47          48             7
48          49             7
49          50             7
50          51             7
51          52             7
52          53             7
53          54             7
54          55             7
55          56             7
56          57             7
57          58             7
58          59             6

2. Outer Join on Movie Data

- Load the movie.csv file.
- Create two smaller DataFrames:
One with only director_name and color.
Another with director_name and num_critic_for_reviews.
- Perform a left join and then a full outer join on director_name.
- Count how many rows are in the resulting DataFrames for each join type.

In [47]:
import csv
import pandas as pd

# Loading the movie.csv file
df_movie = pd.read_csv('data/data/movie.csv')

# Creating two smaller DataFrames
DATA_FRAME_1 = df_movie[['director_name', 'color']]
DATA_FRAME_2 = df_movie[['director_name', 'num_critic_for_reviews']]

# Left and outer joining
left_join = pd.merge(DATA_FRAME_1, DATA_FRAME_2, on='director_name', how='left')
outer_join = pd.merge(DATA_FRAME_1, DATA_FRAME_2, on='director_name', how='outer')

# Printing the result
print(f"The numbers of Left Join: {len(left_join)}")
print(f"The numbers of Outer Join: {len(outer_join)}")

# I've checked my code multiple times but couldn't find the issue. Why are the numbers of left and outer joins the same? Is this correct?

The numbers of Left Join: 30300
The numbers of Outer Join: 30300